* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000000;
  height: 100%;
}

.backdrop {
  display: none;
  position: fixed;
  opacity: 0;
  transition: opacity 0.4s linear;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

ul {
  list-style: none;
}

.toggleButton {
  display: none;
  width: 46px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggleButton:focus {
  outline: none;
}

.toggleButtonBar {
  width: 100%;
  height: 0.2rem;
  background: white;
  display: block;
  margin: 0.6rem 0;
}

.main-header {
  position: fixed;
  background: #000000;
  width: 100%;
  padding: 16px 20%;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #c4c2c2;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.main-nav_items {
  display: flex;
  padding: 8px;
}

.main-nav_item a {
  display: inline-block;
  font-size: 18px;
  color: #c4c2c2;
  text-decoration: none;
  margin-left: 35px;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.main-nav a:hover {
  background: linear-gradient(45deg, rgb(199, 108, 34), rgb(97, 51, 163));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

a:is(:link, :active, :visited).active {
  background: linear-gradient(45deg, rgb(199, 108, 34), rgb(97, 51, 163));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mobile-nav {
  /* display: none; */
  opacity: 1;
  transform: translateX(-100%);
  transition: opacity 0.2s ease-out, transform 0.6s ease-out;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: black;
  width: 60%;
  height: 100vh;
}

.mobile-nav_items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0% auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-nav_items a {
  display: inline-block;
  font-size: 28px;
  color: #c4c2c2;
  text-decoration: none;
  margin-bottom: 20px;
}

.mobile-nav_items a:is(:link, :active, :visited).active {
  background: linear-gradient(45deg, rgb(199, 108, 34), rgb(97, 51, 163));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.mobile-nav a:hover {
  background: linear-gradient(45deg, rgb(199, 108, 34), rgb(97, 51, 163));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.open {
  display: block !important;
  opacity: 1 !important;
  transform: translateY(0) translateX(0) !important;
}

@media (max-width: 800px) {
  .main-nav_items {
    display: none;
  }

  .toggleButton {
    display: block;
    margin-right: 12px;
  }

  .main-header {
    justify-content: start;
  }
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-24px);
  }

  100% {
    transform: translateY();
  }
}

@keyframes circleRotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
